body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#header{
    background-image: url('./files/4.jpg');
    background-size: 100%;
    height: 200px;
    padding: 20px;
    color:aliceblue;
    font-weight: bold;
}
#header p{
    font-style: oblique;
    font-weight: bold;
}
#main{
    height: 2000px;
}
#topcontent{
    background-color: inherit;
    height: 600px;
    width: 100%;
}
#carouselExampleCaptions{
    width: inherit;
    height: inherit;
}
#side{
    float:left;
    max-height: initial;
    width: 15%;
    background-color: inherit;
    /* border-right:1px groove; */
}

#content{
    float:right;
    max-height: inherit;
    width: 82%;
    background-color: inherit;
}

#footer{
    height: 400px;
    color:lightgrey;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer{
    background-color: black;
}
#pfooter:link , #pfooter:visited{
    text-decoration: none;
}
#pfooter:hover , #pfooter:active{
    color: white;
}















.imgcard{
    display: block;
    margin: auto;
    width: 150px;
    height: 250px;
}